[2017-04-07 12:54] Graloth opened #1 "ENAMETOOLONG error thrown when converting big files"
Decided to give the extension a try, but it seems to only want to generate HTML files.

This is the error I get when I try to convert it to PDF or PNG:
[code]
I have tried with file names as short as 3 letters, standard, no special characters, no spaces, etc. nothing works.

Like I mentioned, it works 100% with conversion to HTML.

No idea why this is happening, so I'm making an issue with it here

[2017-04-07 16:32] manuth commented on #1
Hi there
I just gave it another try with the currently published version (0.0.6) and sadly I couldn't reproduce the error.
Can you please answer me some questions in order to help me finding the source of the problem?

The error you described actually only occurs when the file (phantomjs.exe in this case) is located in a too deep nested folder.

  - Is the \*private\*-part a deep nested folder-str

[2017-04-13 08:02] wBureshGitHub commented on #1
Hi, Manuel

Very good start!

However l have so (Linux, Debian, Stretch):

Error: spawnSync /home/w/.vscode/extensions/manuth.markdown-converter-0.0.6/node_modules/phantomjs-prebuilt/lib/phantom\bin\phantomjs.exe ENOENT
Open FileClose
InfoSuccessfully wrote the HTML-file to "/home/w/wWorks/buresh_ru/zDev-ib-ru/infoPravo/Law_3-includs/README.html".

Regards,
Vladimir

[2017-04-13 09:21] manuth commented on #1
Hi Vladimir
Looks just like I messed the path separator up somehow.
I'll fix this asap and run my tests also on an Ubuntu-machine in order to ensure its working.
Can you please open up a new issue since Graloth's issue doesn't seem to be related to yours?

Thanks
~Manu

[2017-04-13 11:59] manuth opened #2 "Executing PhantomJS on a Linux causes errors"
Converting MarkDown to any format but HTML causes following error:

[code]

[2017-04-13 12:00] manuth commented on #1
Hi, Vladimir - I opened up a new issue which describes your problem in order to keep this separate.
[MarkdownConverter Issue #2](https://github.com/manuth/MarkdownConverter/issues/2)

[2017-04-13 15:24] wBureshGitHub commented on #2
Hi, Manuel

Very good start!

It seems that everything is working fine, only the error message is displayed.
The problem has appeared on Linux, Debian, Stretch

Regards,
Vladimir

[2017-04-13 15:27] manuth commented on #2
Hi Vladimir

I found the problem's source.
It's because PhantomJS inside my extension is built for Windows.
I'm just about to fix it by automatically building the propper version of PhantomJS when the extension's activated.

[2017-04-13 16:48] #2 closed

[2017-04-26 07:31] Leedehai opened #3 "Customize the CSS file used when converting to HTML"
I figure it would be good idea to allow users to decide which CSS file they want to use when converting markdown to HTML, instead of just using the default CSS file provided by VSCode.
_____
By the way, very good tool! Many other converters convert my box-drawing characters (like the one below) to a bunch of gibberish, but your tool works fine :)
┌───┬───┬───┬───┬───┬───┐
└───┴───┴───┴───┴───┴───┘

[2017-04-26 08:20] manuth commented on #3
Hey Leedehai
This is possible by specifying the styles- or stylesheets-settings in your user-settings:
[code]

  - Use `useSystemStyles` to define whether to use the CSS-styles provided by Visual Studio.
  - Use `styles` in order to provide custom CSS-code
  - Use `styleSheets` to define a set of CSS-files to use.
     This can either be an uri or a local path

Please have a look at the [Config-Se

[2017-04-26 08:20] #3 closed

[2017-04-26 08:31] manuth commented on #1
Please reopen the issue if you have futher troubles.
I'll close the issue. I guess you could solve it yourself since you didn't answer anymore.

[2017-04-26 08:35] Leedehai commented on #3
Hi Manuel,
Thanks for your reply :)I checked the settings.json file, there is not an entry named "useSystemStyles" under "markdownConverter.document". The last entry under "markdownConverter.document" is "footer". I also searched in this json file, there is not a string that matches with "useSystemStyles".
FYI, I am using VSCode on macOS. I downloaded the tool a few hours ago..

	_________________

[2017-04-26 08:47] manuth commented on #3
Hello Leedehai
The styles-node isn't provided in the default settings so you wouldn't be able to find it by using the search-bar in the configuration-editor.
However the auto-completion will suggest you the propper nodes automatically.

Keep in mind there is a `style`-node inside the `document`-node which contains settings like `template`, `styles`, `styleSheets`, `useSystemStyles` etc.

[2017-04-26 09:00] Leedehai commented on #3
It works, thanks!

On Wed, Apr 26, 2017 at 1:47 AM -0700, "Manuel Thalmann" <notifications@github.com> wrote:

Hello Leedehai

The styles-node isn't provided in the default settings so you wouldn't be able to find it by using the search-bar in the configuration-editor.

However the auto-completion will suggest you the propper nodes automatically.

Keep in mind there is a style-node inside the docu

[2017-04-26 09:12] manuth commented on #3
You're welcome!
If you have further questions feel free to open up a new issue.

Manu

[2017-04-26 17:25] badchenn opened #4 "Embedded style instead of links"
I've used the configuration to include 2 css files.

		"style": {
			"useSystemStyles": false,
			"wrapper": "<div class=\"container\">\n{{ content }}\n</div>",
			"styleSheets": [
				"css/bootstrap.css",
				"css/style.css"
			]
		}

While the converted page works, it contains the full content of the 2 files - _instead_ of adding them as links.
You can imagine the advantage of linking to css fil

[2017-04-26 17:36] manuth commented on #4
Hello badchenn
The content of local css-files is going to be inserted each time you convert your Markdown-file.
I decided to do it like that since my inspiration-repo handled it the same way.

I will try out if relative paths or "file://"-links are supported by PhantomJS and if they are I will update the extension.

Please be patient. I will be able to do that in 2 weeks - currently I'm writing my

[2017-04-26 17:40] badchenn opened #5 "Issue with H1 as first line"
Something odd occurred with a first line content. Starting the md file with a 'H1' formatted line :

    ------------------------------------------
    1| # Continuous Integration / Continuous Deployment Assessment Guide
    2|
    -------------------------------------------

caused unexpected html output ("view source"):

    <div class="container">
    # Continuous Integration &#x2F; Continuous

[2017-04-26 17:47] badchenn opened #6 "Default tag remains with "useSystemStyles = false""
I noticed that one of the default tags remains in the html though the setting is set to 'false'

    <body>
        <article class="vscode-light markdown-body">
            <div class="container">
    <h1 id="continuous-integration-continuous-deployment-assessment-guide">

The tag `<article ...>` remains between the `<body>` and custom `<div>` tags.  A scan of the code may report issues as it is n

[2017-04-26 18:20] manuth commented on #6
Hey - yes, ofc. this is possible.
But please stay patient, I have my final thesis during the next two weeks.
I don't guess I will remove the article tag since this is a [valid HTML-tag](https://www.w3schools.com/tags/tag_article.asp).

Thanks for using MarkdownConverter

~Manu

[2017-04-26 18:22] manuth commented on #5
Hello - sounds to me as if it's an issue caused by markdown-it.

I will have a look at it in about two weeks.
I'm sorry for letting you wait that long. I'm currently having my final thesis.
Please be patient.

~Manu

[2017-04-29 18:39] Leedehai commented on #4
I don't feel like separating the css file and the html, however, because exporting a single file (the html file) from markdown looks more neat.
If I share my exported file to a person who doesn't know about CSS, he would not understand the existence of a css file and may probably ignore to download it, unless i explain it to him.

[2017-04-29 18:58] manuth commented on #4
Oh fair - perhaps it's been made exactly for that reason...
I should add an option for it in the configuration's style-section.

[2017-05-03 16:58] edward-agarwala opened #7 "Conversion Fails with YAML warning"
Error: The YAML-block is malformatted. Line {0}, column {1}.

[2017-05-03 17:06] manuth commented on #7
Hello Edward
YAML-Headers are currently required.
YAML-Headers must be placed on the very top of the file and must be formatted like this:
[code]

Sadly I cannot change this behaviour for the next week since I'm really very busy.
I'll fix this in the next version. Please stay patient.

Thanks for using MarkdownConverter

~Manu

[2017-05-03 21:27] Graloth commented on #1
Sorry for the very late reply, hadn't had the time to check out your answer.
I am currently using version 0.0.7, and still get the error.

Here are the answers for your questions:
  * The \*private\*-part is just my account name, so just a single folder.
  * The destination is in `C:\Projects\Personal\markdown-debugging`, so shouldn't be too deeply nested.
  * Yes, version 0.0.7 as of writing this

[2017-05-09 18:20] manuth commented on #1
Hello Graloth

I could reproduce the error. Looks like it occurs when the file has a certain size.
I'll try to fix this somehow - thanks for notifing me about that!

~Manu

[2017-05-09 19:57] manuth commented on #1
I finally could find the source of the problem!
It's because of Windows' argument size limitations.
I'm passing a JSON-string that represents the whole document (and its settings) as a console argument which causes the error.

I could fix the issue, so this improvement will be available in version 0.0.8

[2017-05-09 20:05] #1 closed

[2017-05-09 20:13] manuth commented on #7
I sadly couldn't reproduce the error.
Can you please send me the markdown-file you're trying to convert?

~Manu

[2017-05-09 20:21] manuth commented on #6
I changed the default template to
[code]

The `vscode-light`-part will only be included when enabling `useSystemStyles` (which is endabled by default).

You can adjust your configuration if you want to provide your own template-file as followed:

[code]

[2017-05-09 20:22] #6 closed

[2017-05-09 20:31] manuth commented on #5
Hello, badchenn

Sadly I couldn't reproduce the error. I just converted exactly the same document-content and the source-code doesn't have any HTML-entities but a normal slash.
Please make sure you're using the most recent version.

Could you please send me the markdown-file you're trying to convert?

[2017-05-09 21:55] manuth commented on #4
You can now set what stylesheets to include (`All`, `Local`, `Web` or `None`, true or false) using the newly added `embeddingStyle`-setting:

[code]

[2017-05-09 21:57] #4 closed

[2017-05-11 08:32] manuth commented on #7
Hello, edward

Recent events revealed that this error occurs cause of platform compatibility issues.
Are you using a macOS-computer?
I'll try to work it out during the next few days.

[2017-05-11 13:53] edward-agarwala commented on #7
[code]
I am on mac OS 10.11.6.

[2017-05-11 13:54] edward-agarwala commented on #7
[code]
Also produces the same error.

[2017-05-11 14:00] manuth commented on #7
Hey edward
In this case it's the `front-matter` module not working correctly on macOS.
Sadly I don't have access to a macOS-machine so it may take some time to fix this issue.

Please stay patient

[2017-05-22 12:09] manuth commented on #7
Hello - I could finally find the source of the problem!
Honestly I mixed up the IDs of the YAMLException message and the PhantomJSRebuildException message, so that's why you've got such confusing messages.

Since you're _always_ getting this error I assume PhantomJS cannot be rebuilt cause of SSL certification-errors or something like that.

I, for example, cannot rebuild PhantomJS in my company's

[2017-05-22 13:01] #7 closed

[2017-05-30 13:29] manuth commented on #5
Hello badchenn
Since you didn't answer last few weeks I assume you could solve it on your own.
For that reason I'll close the issue now.

Please feel free to post a comment if you have further questions.

~Manu

[2017-05-30 13:29] #5 closed

[2017-06-22 03:23] coderNeos opened #8 "Would be nice to have "Convert All" Option"
Hi there! Really nice extension, helped me a lot. Is it possible to make option that converts all files in working directory?

[2017-07-05 08:47] manuth commented on #8
Hello, Neos
Now that I've holidays I just let it go through my mind and I'm not too sure how to realize it.
Actually I'd rather want to make an option to convert _all_ Markdown-files into a single PDF file but I wouldn't know how to realize it or how to call the options etc.
But... I guess at first I'll just do it as you said and provide an option which converts every single Markdown-file inside t

[2017-08-01 21:24] urban-thinking opened #9 "Probs rendering images from local filesystem"
Hi,

when I try to use an image from local filesystem it's shown in preview of VS Code but not rendered in final .pdf file.

Sample Markdown code:

`![alt](file:///Users/ep/Desktop/image.png)
`
or

`![alt](/Users/ep/Desktop/image.png)`

Both are shown correctly in Code preview.

kind regards
Emilio

[2017-09-04 13:01] manuth commented on #9
Hello @urban-thinking
It took me a lil research to find out file:, javascript: and data:-links are disabled in `markdown-it` by default.
The only thing I had to do was to disable the link-policy.
It's working just fine now!
It will be fixed in the next commit.

Sadly PhantomJS doesn't support relative paths yet (https://github.com/ariya/phantomjs/issues/10610) but absolute paths are working fine.

[2017-09-04 20:48] manuth commented on #8
Hello @coderneos. I just attempted to implement the feature and found myself unable to determine what textdocuments the user has currently opened.  It also isn't possible to get all files from the vsc-workspace.  Unfortunately this means it's not possible to resolve your issue at this time. Please enquire again if you find some determine the text-documents to convert.

[2017-09-14 02:36] coderNeos commented on #8
Thanks for reply, i'm sorry that I haven't replied last time, i was to busy
with my job, if i have spare time i'll try to solve this issue and create
pull request.
Best Wishes, Artiom.

2017-09-05 4:48 GMT+08:00 Manuel Thalmann <notifications@github.com>:

[2017-09-18 21:05] manuth opened #10 "Anchor-IDs for Chinese headings are empty"
I recently found that all headings which contain characters only in Chinese have an empty ID.
Stay tuned - I'll fix this issue real soon!

[2017-09-19 21:17] #10 closed

[2017-10-17 08:23] manuth commented on #9
Guys - I've got a great idea on how to enable relative paths even if phantomjs' behaviour is very weird:
MarkdownConverter will open up a small webserver temporary and phantomjs will load the webpage from there.
This will solve all relative path issues, I guess...

Stay tuned - this will be implemented in the next version...
It'll take some time because I'm also working on a Resource-Manager to lo

[2017-10-19 11:16] urban-thinking commented on #9
Hmm, this idea is as great as it is simple. In shell I go to (above sample) /Users/ep/Desktop/, there I start the PHP built in WebServer with:

Now I can reference the image in MD with:

![alt](http://localhost:8000/image.png)

Problem solved. At least ... for me :-D

Thank you.

[2017-10-19 11:21] manuth commented on #9
Awesome!
This confirms my guess. I'll implement it as soon as I can. Sadly this may take a while since I'm currently working on something else...

[2018-05-23 11:18] WesleyGoncalves opened #11 "Shortcut to open Command Pallet in VSC"
Hi, the right keyboard shortcut to open command pallet is `Ctrl` + `Shift` + `P` instead of the `Ctrl`+`P` (in [README](https://github.com/manuth/MarkdownConverter/blob/master/README.md) file) which is used to quickly search and open a file (Quick Open).
Reference:  https://code.visualstudio.com/docs/getstarted/userinterface#_command-palette

Thanks for the plugin. Helped me a lot.

[2018-05-23 12:39] manuth commented on #11
Hello
Thanks for opening the issue - I never noticed this error in my docs.
I'll correct this asap!

Stay tuned
Manu

[2018-05-23 19:06] WesleyGoncalves commented on #11
If you want I can make a PR and you just review it.
Thanks for the quick response.

[2018-05-24 06:36] #11 closed

[2018-05-29 10:32] chesucr opened #12 "MarkdownConverter couldn't build the propper version of PhantomJS"
I am getting this error when I try to print a markdown file into a PDF file:

    MarkdownConverter couldn't build the propper version of PhantomJS. Restart VSCode in order to try it again.

And this is appearing on the debug console:

    [manuth.markdown-converter]
    e.$onExtensionRuntimeError @ mainThreadExtensionService.ts:43

    mainThreadExtensionService.ts:44 Error:
        at /[...]/.vs

[2018-05-29 11:47] chesucr commented on #12
Thank you for the quick response. It worked with

    npm install
    npm install phantomjs-prebuilt

I had to force the installation of phantomjs for some reason

[2018-06-07 12:48] manuth opened #13 "Implement Better Localization"
Currently localization is performed using [Microsoft/vscode-nls](https://github.com/Microsoft/vscode-nls) which is a pretty dirty implementation of localization yet.
A new localization-module must be implemented for a better dev-experience.

[2018-06-08 08:20] manuth opened #14 "Useless Settings"
MarkdownConverter provides some settings - such as setting special headers for different pages etc. - which aren't even supported.
To fix that the package-manifest should be generally reworked.

[2018-06-28 11:15] manuth commented on #13
I now made big step to fix this issue!
I've created a new node-module called [ResourceManager.js](https://github.com/manuth/ResourceManager) which is a great module for handling localizable resources.

This issue will be fixed soon.

[2018-06-28 12:12] #13 closed

[2018-06-28 12:18] manuth opened #15 "Path-Handling for Untitled Files"
Hen trying to convert an untitled file while having no workspace-folder opened, the converter tries to store the file at `C:\Program Files\Microsoft VS Code`.

It'd  be better if the user would be prompted for an output-path in this case.

[2018-06-28 12:35] #15 closed

[2018-06-28 12:54] manuth opened #16 "Rendered Files are Looking Weird"
The System-Styles aren't read propertly anymore.
This may be caused by a change of the file-structure of Microsoft's markdown-extension.
The system styles should better be externalized to this extension or should be loaded any other way.

[2018-06-29 06:44] #16 closed

[2018-06-29 09:03] manuth opened #17 "Rendering Page-Breaks"
It'd be awesome if one could insert page-breaks without big effort.
This should be done by using a cusom HTML-tag, a class or anything comparable.

[2018-07-01 14:30] #14 closed

[2018-07-09 13:06] manuth commented on #12
I decided to use puppeteer rather than PhantomJS which doesn't have such issues.
I'll need to implement some more stuff like update-messages, settings etc. which I think will take some months.

Some first steps have been taken in 3512cb43afef660119484c1b130a9d5f742d6e7a and f0e0a91c762259220c7f7a8eb28df9698dd3a177.

Stay tuned!

[2018-07-09 15:14] #17 closed

[2018-07-09 15:17] manuth commented on #17
Page-breaks can now be inserted by using:
[code]
This snippet will insert a page-break after the `div`-tag.

Page-breaks can also be avoided, for example in order to keep a table together:
[code]

[2018-07-09 17:20] sba923 opened #18 "Generated PDF uses unreadable/unprintable colors"
This example should speak for itself: the "light grey text over slightly lighter grey" almost can't be read, either on-screen or on a printout.

[test2.zip](https://github.com/manuth/MarkdownConverter/files/2177296/test2.zip)
[test2.pdf](https://github.com/manuth/MarkdownConverter/files/2177297/test2.pdf)
![test2 pdf as displayed by acrobat reader dc](https://user-images.githubusercontent.com/1286

[2018-07-10 11:07] manuth commented on #18
I could find the cause of the issue.
I forgot to add some expressions to the stylesheet but that's done for now.

I'll fix the stylesheet and release a new version so that code-blocks are looking fancy again.

Thank you for using MarkdownConverter!

[2018-07-10 11:21] #18 closed

[2018-07-14 10:30] manuth commented on #9
@urban-thinking I hope it hasn't been too long.
I finally managed it to work out some dirty fix for this.

MarkdownConverter will now serve a website using [`http-server`](https://www.npmjs.com/package/http-server) each time when a PDF or an image-file is generated.

This allows you to include pictures etc. from the local file-system.
I'll continue working on this. This definitely will be implemen

[2018-07-21 19:43] #9 closed

[2018-07-21 19:43] #12 closed

[2018-07-22 10:29] manuth commented on #9
@urban-thinking

You may have noticed it already: the new major release of MarkdownConverter is out since yesterday.
The enhancement you've recommended is included in this version so just go and grab it!

Thank you for your suggestion :smile:

[2018-10-09 09:39] mjwsteenbergen opened #20 "Convert to pdf does not work in subfolders"
Hey! Congrats on the new release! Its working great so far for me!

However, I stumbled onto a bug while using the extension. If I open folder "A", and have a document in "A\B\C.md" then it will print an empty document in "A\C.pdf". If I then open vscode in "B" and then convert "C.md", then it will convert just fine.

I think the problem might be [here](https://github.com/manuth/MarkdownConverter/

[2018-10-09 10:13] manuth commented on #20
Hi Martijn
Thank you so much and also thanks for the contribution to this version!
I'll have a look at it asap. Sadly I'm currently working on another project so it might take some days until I can have a look at it.

About the `documentRoot` variable:
Perhaps I have mistaking with the name of the variable - I rather should have called it `webRoot` since it indicates what directory to host using `

[2018-10-15 12:09] manuth commented on #20
Hello Martijn
Thanks for being patient!
I could reproduce the error and found the problem's root here:
https://github.com/manuth/MarkdownConverter/blob/1a3af1c57c9e6f1605c23a9cd00bd958d128d4d5/src/MarkdownConverter/Converter.ts#L86-L101

It's because  the url-variable doesn't contain the actual url but a windows-flavored relative path from the document-root to the document, which obviously uses `\

[2018-10-16 10:10] mjwsteenbergen commented on #20
Thank you for your time! Don't worry if you want to do other things first, I can easily circumvent this issue, by just opening the folder.

I think A is also better. Even though B might be better for debugging, A is simpler and therefore less likely to have bugs and I think that is more important ;)

[2018-10-16 11:58] manuth commented on #20
Yeah you're right, it might be very good for debugging.
And I'd have to do less changes.

I'll just mess around with the settings for a little before I release a next version.

[2018-10-17 20:53] #20 closed

[2018-10-19 16:08] 007pig opened #21 "Unable to set markdownConverter.DestinationPath an absolute path"
V1.1.0. When I set markdownConverter.DestinationPath to an absolute path and try to convert a document, I get "Path must be a string. Received undefined" error.

[2018-10-20 22:12] manuth commented on #21
Oh jeez - this sounds pretty urgent
I'll fix it in a sec!

[2018-10-20 22:48] jkhsjdhjs opened #22 "converted pdf file doesn't exist"
When having a folder open and an unrelated markdown document it tries to save the PDF document to the open folder.
![](https://screens.totally.rip/2018/10/5bcbaec9bd4c6.png)

`a2dp_sink` is the folder opened currently. `solr-for-openaas.md` is the file I opened from a different folder. In my opinion it would be better to save the created PDF file to the source folder of the markdown document by de

[2018-10-20 23:33] manuth commented on #22
Whether or not to store `MarkdownConverter`s output relative to the actual file or the workspace is pretty subjective which is the reason why I decided to leave the decision to the user to specify the location themselves.

Personally I prefer to store the output in a single directory which is why I decided to set `DestinationOrigin` to `WorkspaceRoot` by default.

I'll consider changing this to `D

[2018-10-20 23:42] jkhsjdhjs commented on #22
Thanks for the quick fix! I just tested it and it now tries to save the PDF to the source directory. However, the file still isn't created after conversion. Neither is it when I close the open folder and only have said document open.
I just noticed it also shows "This feature is not supported by your platform!" After clicking on `Open File`. However, I think this is most likely not related to the

[2018-10-20 23:49] manuth commented on #22
Sadly I cannot reproduce this error on my Windows 10 machine.

At time of writing I've implemented the `Open File` feature only for `linux`-platforms, `macOS` and `Windows`. Sounds like you're using neither of them.

Showing up an error message is a pretty dirty fix tbh - I think I'll just hide the `Open File`-button if the platform isn't one of the supported ones.

What platform do you use?
I thi

[2018-10-21 00:00] jkhsjdhjs commented on #22
I'm actually using linux, Arch Linux 4.18.13-arch1-1-ARCH with KDE.

Is it possible that it just shows `This feature is not supported by your platform!` because it fails to open the file cause it doesn't exist?

[2018-10-21 00:10] manuth commented on #22
Honestly I didn't set up any log-calls in my extension which means that one only can see what's going on by cloning the source and debugging it themself.

The project is completely written in `TypeScript` which is similar to `C#` or `Java`.
So if you have some basic knowledge of these languages you could give it a try to debug the extension.

[2018-10-21 00:56] manuth commented on #22
Oh yeah
I totally forgot to mention the message definitely doesn't show up cause of an error:
https://github.com/manuth/MarkdownConverter/blob/13bd00e677aad06ff22c7fe6f6cba4fca9cfdbc2/src/MarkdownConverter/ConvertCommand.ts#L371-L383

It's a simple "switch-case" block.

[2018-10-21 01:17] manuth commented on #22
I just recognized what's causing the message popping up...
I missed to add a `break;` after the linux-section.

The file not being created still is a riddle to me...
It's working on my Ubuntu 18.04.1 machine that I've just created.

[2018-10-22 12:50] manuth commented on #8
Hello, @coderNeos
I just noticed that VS-Code's got a new feature for enumerating all documents contained by a workspace.

Well... this means it's finally possible to add a `Convert All...`-option!
This feature definitely will be implemented in the next version.

Stay tuned

[2018-10-31 13:39] manuth opened #24 "Allow the Converter to Generate Self-Contained HTML-Files"
HTML-files generated by `MarkdownConverter` are not independent which means that, depending on the availability or the state of external resources, the HTML-file may break or even look completely different.

It would be nice to have some sort of `SelfContainedHTML`-conversion type for generating independent HTML-files.

[2018-10-31 13:47] manuth opened #25 "Implement a Command to Chain Markdown-Documents"
Some people may want to write huge documents in separate markdown-files.
Sadly there is no markdown-extension for supporting some sort of `include`-expression which means that there is no way to chain or include different markdown-files.

It would be nice to have a command for chaining all markdown-documents together alphabetically.

[2018-10-31 13:51] manuth opened #26 "The Convert All-Command Spams Messages"
When the `Convert All`-command has finished it sort of spams messages which is a pretty ugly behaviour.

[2018-10-31 13:55] manuth opened #27 "Add a "WorkspacePreservePath" Destination-Origin"
Sometimes when converting a bunch of file relative to the workspace-root some of the files may have the same file-name which causes them to overwrite themselves.

This behaviour could be fixed by adding a `WorkspacePreservePath`-origin which would point to the `DestinationPath` combined with the directory-name of the document.

[2018-10-31 14:07] manuth opened #28 "What the Feck is MarkdownConverter Doing!?"
When running a conversion `MarkdownConverter` just runs through without any sort of feedback.
This is pretty annoying sometimes especially when you're feeling like your computer is sort of hanging or something.

For that reason some sort of feedback shall be added.

[2018-10-31 14:18] manuth opened #29 "There are no tests for the MarkdownConverter"
I've just noticed that I never really spent my time in creating tests...
Well... you guys may know why - writing test-cases is the worst butthurt ever existed...

Anyway... it must be done sometime...

[2019-05-28 16:43] damgot opened #30 "Plantuml support"
Hello,

I would be nice if you can integrate plantuml. https://www.npmjs.com/package/markdown-it-plantuml

Regards

[2019-05-29 20:48] damgot commented on #30
Hi @manuth
Thanks for your answer.

It works perfectly. You can close the issue. Thanks for this solution.

Please, don't abandon markdownConverter, it is really the best pdf converter I found on the vscode market.

[2019-05-29 21:22] #30 closed

[2019-05-30 17:27] manuth commented on #30
Do not worry, btw
I'm definitely not gonna stop developing MarkdownConverter.
I just suspended it for some time until I finished creating my website and some other tiny projects.

Thank you for using MarkdownConverter! 🎉

[2019-06-01 20:06] sjmcdowall opened #31 "Install didn't work?"
Tried using it and just get:

command 'markdownConverter.Convert' not found

in an error window.. .

This is on a Mac running the latest: Mojave 10.14.5 with just about everything updated that I know of.

[2019-06-01 22:19] manuth commented on #31
Hey @sjmcdowall
Thanks for reporting the bug ^^

This sounds like the main script which adds the commands to VSCode doesn't run correctly on macOS.
I'll take some time to reproduce and fix the error as soon as possible.

[2019-06-03 11:42] damgot commented on #30
Hello,

Instead of creating a new "issue", I prefer asking you directly my question.

With markdown-converter, Is there a way to configure pdf header and footer
directly in my ".md" document or do I have to change it each time in my
setting.json ?

Many thanks and best regards.

Damien

Le jeu. 30 mai 2019 à 19:27, Manuel Thalmann <notifications@github.com> a
écrit :

[2019-06-03 12:09] manuth commented on #31
@sjmcdowall sadly both of my computers are not able to run a virtual macOS which means that I can't reproduce the error.

Please make sure you're running the most recent version of Visual Studio Code.

[2019-06-04 15:07] damgot opened #32 "[enhancement] : Add the option "break on single new line""
It would be great to have the possibility to generate a line break if we have only a single newline in our .md document.

This option is available with markdown-it.

So this could be done, I guess, only with a checkbox in the Markdown Converter settings, and checkbox value reported in file "src/MarkdownConverter/ConvertCommand.ts" line 172 :

[code]

[2019-06-05 13:29] #32 closed

[2019-06-05 13:31] damgot commented on #32
Can be enabled directly in markdown-it integrated in vscode.
Settings/Extensions/Markdown/Markdown>Preview:Breaks

[2019-06-06 19:59] manuth commented on #31
@sjmcdowall I successfully installed a virtual mac and tested the extension.
I could not reproduce the error, performing a conversion worked for me.

Thus I'm going to close this issue.

[2019-06-06 19:59] #31 closed

[2019-06-13 12:15] damgot opened #33 "Links with non-ASCII characters works in HTML but not in PDF"
Both following examples will work when converting in HTML.

But only the first will work in PDF, link will be broken for the second.

[code]

It's an issue when using French.

[2019-06-14 14:40] matiasbasilico opened #34 "Customize PDF header and footer ?"
Is there a possibility to change the header and footer generated by the pdfs?

Thanks for this great tool

[2019-08-10 18:56] manuth commented on #34
Hi @matiasbasilico
Sorry for not answering - I totally missed your issue as I didn't really work on MarkdownConverter for quite a while.

You can adjust the header and footer by editing the `markdownConverter.Document.HeaderTemplate` and the `markdownConverter.Document.FooterTemplate`-option.

You can easily find these options in the settings editor by searching for `Header Template` or `Footer Te

[2019-08-10 18:56] #34 closed

[2019-08-10 18:59] manuth commented on #33
Hi @damgot
Looks like an issue related to puppeteer.
I didn't perform any dependency-updates for quite a while. Maybe it's aready been fixed. I'll go and try to reproduce the issue asap!

[2019-08-11 01:46] manuth commented on #33
I could verify that this issue even exists in Chrome.
I think, there's nothing I can do about this.

I'll leave this issue open, just in case some PDF-standards or chrome itself is being updated.

[2019-08-18 02:18] #8 closed

[2019-08-18 02:18] #24 closed

[2019-08-18 02:18] #25 closed

[2019-08-18 02:18] #27 closed

[2019-08-18 02:18] #26 closed

[2019-08-18 02:18] #28 closed

[2019-08-18 02:20] #22 closed

[2019-08-18 16:56] manuth commented on #32
Awesome!
Thanks for your suggestion, though
I really depend on you guys' feedback and intentions, so I really appreciate it :smile:

Thanks for using Markdown Converter!

[2019-08-19 07:33] luoqining opened #35 "command 'markdownConverter.Convert' not found"
Version 2.0.0, When use command "Convert Document" ,but show "command 'markdownConverter.Convert' not found".
BTW, v1.1.2 is OK.

[2019-08-19 07:37] luoqining commented on #35
VS Code version is 1.37.1

[2019-08-19 07:48] manuth commented on #35
I'll have a look at this issue as soon as possible!

[2019-08-19 10:34] kostakis commented on #35
Yea i also had this issue at the latest version of VS code(July 2019 version 1.37)
Had to go back to previous version to have a temporary fix

[2019-08-19 14:40] manuth commented on #35
I'm really sorry for you guys having trouble.
I removed the "puppeteer"-package from the dependency-tree by accident, which is a key dependency of MarkdownConverter.

I'll re-add the package and publish the new version as soon as I'm home.
Please be patient

Kind regards
Manu

[2019-08-19 16:44] #35 closed

[2019-08-19 16:51] manuth commented on #35
@luoqining, @kostakis: I just released a fixed version of the extension which should be accessible in a few minutes.

Thanks for being patient!

[2019-08-30 14:57] damgot opened #36 "MarkdownConverter 2.0.1 : Margins parameter as no Effect"
Settings "markdownConverter.Document.Paper.Margin": {
        "Top": "4cm",
        "Bottom": "3cm",
        "Left": "1cm",
        "Right": "1cm"
    },

as no effect on the rendered PDF.

[2019-08-30 14:59] damgot opened #37 "MarkdownConverter 2.0.1 : Custom Header and footer are not working anymore"
When specify custom header and footer, nothing is displayed :

Example :
"markdownConverter.Document.FooterTemplate": "<div style=\"border-top: 1px solid #999999; width: 100%; margin-left: 1cm; margin-right: 1cm; margin-bottom: 0.5cm;\"><span style=\"float:left; margin-left: 0.5cm; margin-top: 0.2cm; color:#F0F0F0;\">Version: {{ version }} - {{ date }}</span><span style=\"float: right; margin-top:

[2019-08-30 15:04] damgot commented on #37
Maybe related to #36 (header and footer are maybe hidden)

[2019-08-30 18:19] manuth commented on #37
Hello @damgot
I just had a look at this issue and it's indeed related to #36
Therefore I'm going to close this issue now.

Please refer to said issue to stay tuned!

Thanks for reporting the issue and for using MarkdownConverter :smile:

[2019-08-30 18:20] #37 closed

[2019-08-30 18:29] manuth commented on #36
Hi Damien

Thank you for reporting the issue, looks like my code has been incorrect for a very long time so I'm really glad to get this patched.
Please be patient.

[2019-08-31 01:51] #36 closed

[2019-08-31 07:47] damgot commented on #36
Hello, a lot of thanks for your reactivity :)

[2019-09-05 09:57] damgot opened #38 "Add header and footer template in document instead of settings"
Hello,

Having the header and footer template in settings instead of the document itself is not really convenient because when you have to create documents with differents header/footer you will have to change your settings all the time (and maybe made some mistakes).

I'm currently working on this by adding "HeaderPath" and "FooterPath" attributes in the YAML header.
If HTML files pointed by thes

[2019-09-06 07:41] #38 closed

[2019-09-14 23:20] #29 closed

[2019-09-16 10:19] mjwsteenbergen opened #41 "command 'markdownConverter.Convert' not found"
Hey,
It's great that you're still adding new features! Love the new progress bar when converting documents.

Today I tried to convert a markdown document and got the error:
`command 'markdownConverter.Convert' not found`

I reinstalled the extension, but that also didnt help. Is this problem on my side?

[2019-09-16 10:26] manuth commented on #41
Hi @mjwsteenbergen
This behavior is not to be expected.
The most recent version v3.0.0 is the very first version that has been built and published automatically by my CI server. Maybe something went wrong during the build process.

Please install the previous version v2.0.2 until I this issue is solved.

[2019-09-16 12:26] manuth commented on #41
Okay It's my bad - looks like shelljs is not browserifiable which is why my extension caused errors.
I'm going to patch this by dropping shelljs from the dependency-list

stay tuned

[2019-09-16 13:07] #41 closed

[2019-09-16 13:09] mjwsteenbergen commented on #41
Wow. Dude. That was fast! Nice work!

[2019-09-16 13:16] manuth commented on #41
No problem.
I'll publish the new version in a few minutes.

[2019-09-16 13:43] manuth commented on #41
Thank you, btw, for reporting the issue that rapidly!
This helps me a lot to improve the extension.

[2019-09-25 13:45] damgot opened #42 "Convert command hanging on "Convert Document: Launching the page in chromium…""
Convert command hanging on "Convert Document: Launching the page in chromium…"

In a debug session, I've the following error :
[code]

chromium was installed successfully

[2019-09-25 15:03] manuth commented on #42
Hello @damgot
Are you sure you copied the whole stacktrace?
Thanks for reporting the issue

[2019-09-25 15:11] manuth commented on #42
I can't reproduce the issue.
Could you please post some more information about the system you're running for me to set up a proper VM?
Also what command are you trying to execute?

[2019-09-25 15:36] damgot commented on #42
Hello @manuth.

It's on a very new installation. I've installed VSCode + Markdown All In One, Plantuml, markdownlint, and markdownConverter.

I tried to convert a .md document with "Markdown: Convert Document" command. I had a pop-up to install chromium, select "Yes", download was successfull and then the pop-up stayed infinitely on "Convert Document: Launching the page in chromium…"

I try to res

[2019-09-25 16:25] manuth commented on #42
Please try the debug-build I've just created:
[markdown-converter-3.0.1.vsix.zip](https://github.com/manuth/MarkdownConverter/files/3653650/markdown-converter-3.0.1.vsix.zip)

Do you see any useful information in the stack trace?
You should get concrete line-numbers now.

[2019-09-25 16:49] damgot commented on #42
It seems to be well installed because I saw command in the command palette, but I've the error : "command 'markdownConverter.Convert' not found" =S

[2019-09-25 17:38] manuth commented on #42
Thank you, this helped me finding the issue.
Could you please go and try this new build?
[markdown-converter-3.0.1.vsix.zip](https://github.com/manuth/MarkdownConverter/files/3653911/markdown-converter-3.0.1.vsix.zip)

[2019-09-25 18:18] damgot commented on #42
Ok now I've this :
[code]

[2019-09-25 18:20] manuth commented on #42
Alright now we're getting to something.
I'll go try to find out what's goint wrong for you ^^

[2019-09-25 18:25] damgot commented on #42
Ok I've found it...

As it was a new install, I've simply copy past the JSON settings... But the path of my stylesheet in this new install was not exactly the same than before.
With the correct path everything works fine.

The bug was on my side.
But for enhancement, a error pop-up like "Missing stylesheet" or something like that could be useful ^^

[2019-09-25 18:26] damgot commented on #42
The problem was there :
[code]

[2019-09-25 18:28] manuth commented on #42
Well that's pretty strange anyway, I thought my exception-handling covers all possible exceptions-  I'll have a look at it asap.

But please don't blame me if it takes 2 days or 3 - I have a lot exams this week.

[2019-09-25 18:38] damgot commented on #42
There is no problem.
My issue is solved, it works, take your time to look at this :).

Many thanks for helping me solve my problem :)

[2019-09-25 19:22] manuth commented on #42
You're welcome mate 😄

[2019-09-26 13:01] manuth commented on #42
Alright so I finally could find what's causing the error.
https://github.com/manuth/MarkdownConverter/blob/aea93de404d39570a4a83dc740486fc647672164/MarkdownConverter/src/Conversion/Converter.ts#L308-L323

The `async (request) => { }` portion of the code is not executed in a separate Promise-chain which causes this empty-looking stacktrace.

I could resolve this issue by moving the `this.Document.R

[2019-09-26 21:37] #42 closed

[2019-09-27 07:14] damgot commented on #42
Tested and approved :).

Thanks a lot

[2019-10-31 14:17] damgot opened #43 "[Question/Enhancement] Using markdown extension stylesheet as markdownconverter stylesheet"
Hello,
I've created a small VSCode extension which add my own stylesheet to the VSCode markdown extension.

So I just have my css in my extension and in the package.json I just set :

[code]

Is there a way to use this css as stylesheet for markdownConverter ?

Thanks a lot

[2019-10-31 14:52] damgot commented on #43
I had not tested with leaving the "markdownConverter.Document.Design.StyleSheets" option empty.

It really works like a charm.

Many thanks for your help !
(And thanks for your work in this extension)

[2019-11-07 06:39] manuth commented on #43
You're welcome!
Thanks for appreciating my work 😄

[2019-11-07 06:39] #43 closed

[2020-03-12 13:06] ViRb3 opened #44 "Stuck on "Convert Document: Scraping all files and resources…""
Hello,

I am trying to use MarkdownConverter on the cloud using [code-server](https://github.com/cdr/code-server). I installed the needed dependencies (`libxss1 libgtk-3-0`), but now the extension is stuck on `"Convert Document: Scraping all files and resources…"`. Looking at Chrome in `top`, it doesn't take any CPU usage which suggests it is stuck. Is there any way to debug this?

Thanks!

[2020-03-12 19:04] manuth commented on #44
Well as far as I read in the latest release notes of VSCode it is now possible to do remote debugging:
https://code.visualstudio.com/updates/v1_43#_new-javascript-debugger

Is this here of any help for you by chance?

On a local environment you can debug this project in VSCode by opening the debug section and starting the "Launch Extension" option for starting a test-instance of VSCode or "Launch

[2020-03-24 15:11] Jerem59 opened #46 "Change Company attribute"
Hi
good job for this extension
How change the company attribute value ?
How add new attribute ?
Possible to increase the content of the documentaion ?
Thx
Jerem

[2020-03-27 19:04] manuth commented on #46
Hello
You can add new attributes using the `markdownConverter.Document.Attributes`-setting.

[code]

I'm sorry for the lack of documentation but I'll work on it as soon as possible.
Kind regards
Manu

[2020-04-09 15:36] ViRb3 commented on #44
Seems to work just fine on code-server v3, the latest stable! I couldn't debug the extension in code-server as it seems to be unsupported, but I am happy that won't be needed anymore!

[2020-04-09 15:36] #44 closed

[2020-04-29 12:38] capgeminiKoen opened #50 "Double curly braces (angular template binding) cannot be used"
I have problems when converting a document like this:

# Example doc
You can bind a variable to this template like this:
[code]
Because - obviously - it is used by this awesome converter. The `{{title}}` part just disappears.
Any way around this atm?

Thanks in advance!
Koen

[2020-04-29 14:31] manuth commented on #50
Hello @capgeminiKoen
As your markdown-file is processed using `mustache.js` you can easily escape this piece of code using something like this:
[code]

However, please leave this issue open, because actually `mustache.js` additionally would support to escape curly braces using this pattern `\{{ title }}`, but as currently the file is converted to `html` first and then processed using `mustache.js`

[2020-04-29 15:19] capgeminiKoen commented on #50
Hi @manuth,

Thanks for your quick reply! :)
You are obviously correct. Just wrapping the entire file in these statements fixes my problems now.
Looks a bit weird in the previes, but compiles just fine.

Thank you so much! If I have some time left, I might make a PR for myself, but I can imagine you have a certain way that you'd want to solve this problem ;)

All the best :)

[2020-04-29 16:18] manuth commented on #50
Oh - no worries
It's nothing but swapping these two lines of code:
https://github.com/manuth/MarkdownConverter/blob/55b1593478e4ba7d7be41c636ae5a58a3235c6e8/MarkdownConverter/src/System/Documents/Document.ts#L377-L378

There are several other thing I'd like to change for the next version of `MarkdownConverter` which is why I won't be able to publish a new version until I have some time left for co

[2020-09-18 18:29] professorbunbury opened #53 "Exporting PDF using custom dimensions"
The directions for the markdownConverter.Document.Paper.PaperFormat indicated that one can specify "Either the width and the height of the paper or a predefined format"; however, the element does not seem able to accept width and height properties.  How does one give the exported PDF custom dimensions?  Thank you!

[2020-09-18 18:43] manuth commented on #53
Hi there!
Thank you for using MarkdownConverter.

As the paper-format either must be a predefined `Format` (and, optionally, the `Orientation`) or custom `Width and `Height`, the IntelliSense won't show you the option to set width and height as long as you have `Format` or `Orientation` present in your settings.

Make sure to empty the `markdownConverter.Document.Paper.PaperFormat`-object before t

[2020-09-18 20:02] professorbunbury commented on #53
Thank you for your prompt and very helpful response.  I am not sure that I am inputting units in a fashion that the intellisense is prepared to recognize.  If I enter allowable units, do the dimensions need to be surrounded by quotation marks?  If not, how do I enter the units without generating a syntax error?

[2020-09-18 20:09] manuth commented on #53
Why - you're right, I'm currently neither forcing the type of the `Width` and `Height` properties nor am I forcing the correct usage of units.

I'll add this to the list for the next upcoming release.

You can either pass plain numbers (such as `100`) to set the width/height in pixels or you could pass a string containing the number and a unit (such as `21cm`) to use the unit of your desire.

[2020-09-18 20:28] professorbunbury commented on #53
Thank you! One more follow-up question: Is there another element that I should be editing to remove the extra white space around the Markdown content of the resulting PDF?  No matter what dimensions I input, the result is roughly the same with additional white space added every time.  All margins are currently set to 0, so it doesn't appear to be a problem caused by margin settings.

[2020-09-18 21:07] manuth commented on #53
Sadly there is no option other than `Margin` to set the width of the border. Negative values for the `Margin` option are disallowed.
So there is no way for you to further decrease the margin.

[2020-09-21 16:41] manuth commented on #53
As you don't seem to have any further questions I'll close this issue.
Feel free to open up a new one if you have any further question or if you want to report a bug.

[2020-09-21 16:41] #53 closed

[2020-10-08 18:19] #46 closed

[2020-10-08 18:21] manuth commented on #46
I'm closing this issue now as you didn't answer for quite a long time now.
I hope I could help you working with MarkdownConverter.

Feel free to open up a new issue whenever you find a bug or have a question about this project. ✨

[2020-10-08 18:28] manuth commented on #33
hello @damgot
Things got pretty quiet around this project and I'm really sorry for this.
The most recent Chromium version now supports anchors and links containing non-ASCII characters and I'm looking forward to release the next major verison of MarkdownConverter soon.

Thanks for your patience

[2020-10-09 04:53] GGillan opened #54 "Footer: Want File Modified Date"
Thanks for an awesome extension!

I have to be careful keeping track of what version of a PDF I'm using. The default pulls CreationDate to put into the page footer. On Windows the creation date does not change with successive edits and saves while the modified date does change. Unfortunately, I have been unable to find how to get the extension to pull the modified date. I've tried many iterations

[2020-10-09 07:00] damgot commented on #33
Hello, thanks for your Feedback.
No problem, your extension works pretty well. It's not a blocking "bug".

Thanks

[2020-10-09 07:53] manuth commented on #54
Currently the `CreationDate`-attribute is loaded from the creation-date of the source-file as seen in this piece of code:
https://github.com/manuth/MarkdownConverter/blob/798676b874cf7cac39ca0bab55d707c0bd3e5891/src/System/Documents/Document.ts#L115-L124

I'm planning to release a new major version of MarkdownConverter quite soon.

I'll definitely include new attributes for covering your need in t

[2020-10-09 16:15] GGillan commented on #54
"What do you think about the attribute-names ModificationDate for the date of the last modification and CurrentDate for the date of the conversion?"

Those would be great!

In the interim I found "Insert Date String" by Jakub Synowiec [https://marketplace.visualstudio.com/items?itemName=jsynowiec.vscode-insertdatestring&ssr=false#overview)](url) for a hot key to insert a date-time stamp. That made

[2020-10-10 11:56] manuth opened #55 "[Feature] More specific Date-Formatting"
Currently the only place where you can configure date-formatting is the vscode-settings, which means that there is no way to customize the format of an individual date or even override the date-formatting for a single document.

An option to set the date-formatting for an individual date or for an individual document would be very awesome

Thanks to @GGillan for pointing this out

I want to add fo

[2020-10-10 12:17] manuth commented on #55
I did a little research and stumbled across [this comment on stackoverflow](https://stackoverflow.com/a/18597006).
[Handlebars](https://handlebarsjs.com/) seems to be the same thing like mustache and additionally supports stuff like helper-functions.

By using handlebars for rendering the markdown-content I could easilly add support for customizing the format of individual date-fields.

In order t

[2020-10-10 12:25] manuth opened #56 "Refactor Default Placement of Header and Footer Items"
Currently the page number is inside the header and the date inside the footer.
This might seem a little out of place.

The date should rather be displayed inside the header and the page-number inside the footer.

Thanks to @GGillan for pointing this out

[2020-10-10 12:32] manuth opened #57 "Add Simpler Settings for Specifying Header and Footer Contents"
Currently, header- and footer are set using HTML-snippets or a path to an HTML-file.
This is quite uncomfortable as the vscode settings editor isn't really made for fiddling with HTML code.

[2020-10-10 12:33] manuth commented on #54
Alright - these are some points other than the file modified date initially addressed. I'll create separate issues for that matter.
I hope I caught every point you addressed here - let me know if I'm missing something.

1. More specific way to format dates: #55
2. Reorder placement of header/footer items: #56
3. Simplify the way to specify headers and footers: #57

Let me know if there's something

[2020-10-10 14:10] GGillan commented on #54
👍👍

[2020-10-12 14:11] manuth opened #58 "The `CreationDate` indicates an incorrect time"
The value of the `CreationDate` equals the time of the last change (either by changing the ocntent or using `chmod`, `chown` etc.)

[2020-10-12 15:18] manuth commented on #56
@GGillan sadly I couldn't rearrange the default header and footer. Puppeteer doesn't seem to work correctly.
I'll open up an issue in the puppeteer repo asap.

Until then this issue will remain open

[2020-10-12 23:31] #54 closed

[2020-10-13 09:03] #58 closed

[2020-10-13 09:03] #55 closed

[2020-10-13 09:04] #50 closed

[2020-10-13 09:04] #33 closed

[2020-11-15 15:12] GGillan opened #59 "Query About Network Access During PDF Conversion"
Hi,

We had a very lengthy Internet outage here yesterday. During that time, I made a Markdown document and ran MarkdownConverter because I needed a PDF. The HTML conversion went fine, but the PDF conversion failed with a message approximating "unable to find URL". Until then I didn't realize that MarkdownConverter used any off-machine access during conversions.

Could you tell me what it uses Int

[2020-11-24 16:58] SjoerdV opened #60 "System styles not being applied"
Seems like system default styles are not being applied anymore when exporting to pdf.
VSCode: 1.51.1
Extension: 3.1.2

Possibly related reference issue: https://github.com/manuth/MarkdownConverter/issues/6

[2020-11-24 17:16] manuth commented on #59
@GGillan I'm terribly sorry, I almost forgot to answer your question.
The short answer to your question is no. Of course, the MarkdownConverter doesn't send data to any other PC, neither does it use any off-machine access during conversions.

If you're wondering what the MarkdownConverter accesses URLs for, I can dive a little more into detail for you.
I noticed, that Google Chrome doesn't load Ja

[2020-11-24 17:18] manuth commented on #59
I hope I could clear up the reason for URL-access to you. Feel free to reopen this issue if you have any further questions.

Thank you very much for using MarkdownConverter

[2020-11-24 17:18] #59 closed

[2020-12-03 16:10] HughxDev opened #61 "PDF export produces file with 404 error instead of text"
File just says:

**Markdown Coverter**
v3.1.2

**VS Code**
Version: 1.51.1
Commit: e5a624b788d92b8d34d1392e4c4d9789406efe8f
Date: 2020-11-11T01:11:34.018Z (3 wks ago)
Electron: 9.3.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.6.0

[2020-12-06 13:34] orschiro opened #63 "How to set HTML title?"
Hi @manuth ,

Thanks for this great extension!

Question: How do you set the (tab) title when converting to an HTML file?

[2021-01-06 07:52] manuth commented on #63
Hello @orschiro
Thanks for pointing this out. Currently the title of the HTML file isn't set automatically.
You could include the `<title>`-Tag in your markdown-file, though, this might look sorta crappy...?

I'll think of another way to determine a title automatically.

[2021-01-06 10:29] manuth commented on #61
Hello @hguiney
Sadly I couldn't reproduce the issue. I just created a macOS VM in order to try it out and it's working fine for me.
Could you please create a repository containing your markdown-workspace for me to reproduce the issue?

[2021-01-06 10:57] orschiro commented on #63
Maybe the title can be set using the preface?

[code]

[2021-01-09 13:04] JoeJoeTV commented on #61
I have the same Issue, it just shows a 404 error page.

Version: 1.52.1
Commit: ea3859d4ba2f3e577a159bc91e3074c5d85c0523
Datum: 2020-12-16T16:32:10.090Z
Electron: 9.3.5
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
Betriebssystem: Linux x64 5.4.0-60-generic

[2021-01-14 12:17] manuth commented on #61
Thanks for confirming the error

Sadly I still wasn't able to find the reason for the error to occur.
Are you working in a `.code-workspace`, a single directory or are you editing a single file when the error occurs?

[2021-01-14 12:26] manuth commented on #63
Sorry for letting you wait
I'm working on it rn and cause of the current way MarkdownConverter works.
Stay tuned as I will fix this as soon as possible.

[2021-01-14 12:30] orschiro commented on #63
No worries, thanks for the update!

On Thu, 14 Jan 2021 at 13:27, Manuel Thalmann <notifications@github.com>
wrote:

[2021-02-10 10:09] damgot commented on #61
Hello, same for me.

I've got a 404 pdf.

I'm using a single md file (no workspace or directory, just single file).

[2021-02-10 10:56] manuth commented on #61
Sadly I still find myself unable to reproduce the error.
I suspect the error must be somwhere here:
https://github.com/manuth/MarkdownConverter/blob/a1824643e41863ad5e7820dca75fa1f11c4b8182/src/Conversion/Converter.ts#L177-L186

If the markdown-file with a leading `.html` is requested (for example `/Test.md.html`), the rendered document should be returned by the web server (the `if`-branch).
But i

[2021-02-12 08:34] damgot commented on #61
Hello,
Unfortunattely, I'm not able to debug it. I've following errors :

Command 'Markdown: Convert Document' resulted in an error (command 'markdownConverter.Convert' not found)

Activating extension 'manuth.markdown-converter' failed: Cannot find module 'c:\Proj\MarkdownConverter\lib\index.js' Require stack: - c:\Users\Damgot\AppData\Local\Programs\Microsoft VS Code\resources\app\out\vs\loader.

[2021-02-12 08:43] manuth commented on #61
That's weird. Maybe the code failed to build before debugging the code...

[2021-02-15 14:24] damgot commented on #61
I tried the extension without any options and it seems to work with very simple md file.

However, the image syntax "![alternate] (path to image)" seems no longer work.

The text is print in the pdf, instead of the image.

![2021-02-15 15_23_35-Untitled-1 pdf - Adobe Acrobat Reader DC (32-bit)](https://user-images.githubusercontent.com/4757987/107958164-e9ed6880-6fa1-11eb-83dc-fa6df306dea1.png)

[2021-02-17 08:15] FabianSchuster commented on #61
Hey,
I have nearly the same issue...
In my case the error is just there when I include images.

Error: net::ERR_EMPTY_RESPONSE at http://localhost:46835/Markdown_template.md.html

When it comes to Text i have no issues
About my system:
- Linux Pop!_OS 20.10  64-bit

I hope i could help you!

[2021-02-18 08:20] damgot commented on #61
Hello all,
It seems it's not a bug with markdownConverter but with VSCode.

There are a lot of problem with image interpretation in markdown file with the last 1.53 vscode version. It seems downgrade to 1.52.1 solve the issue.

So @manuth , don't worry, the problem is not on your side.

[2021-02-18 20:23] manuth commented on #61
@damgot thank you very much for pointing this out, that's very useful!
@hguiney, @JoeJoeTV is your issue probably related to the inproper picture-handling as pointed out by @damgot?

[2021-02-19 00:06] manuth commented on #61
I was able to find the issue (inside the `markdown-language-features` extension) which caused markdown-files containing pictures to throw errors.

I implemented a workaround which will be included in the upcoming version.
Also I opened up an issue in the vscode-repository: https://github.com/microsoft/vscode/issues/116987

@hguiney, @JoeJoeTV please let me know whether your documents contains pict

[2021-02-25 20:30] amhayslip opened #66 "Images in .md files are causing an error when try to convert to HTML"
![Screen Shot 2021-02-25 at 3 30 13 PM](https://user-images.githubusercontent.com/5480326/109213251-5fb1bb00-777e-11eb-97df-220cacb6af6f.png)

[2021-02-27 23:13] manuth commented on #66
Hello @amhayslip
Sorry for letting you wait

This error is caused by the feature for hot-reloading pictures in the markdown-editor.
I have a workaround ready and on top of that, a PR was created for fixing this issue in vscode:
https://github.com/microsoft/vscode/pull/117041

This fix is included in vscode-insiders. Sadly I'm not actively working on MarkdownConverter at this very moment so you mig

[2021-03-01 07:18] RoneoOrg commented on #66
I confirm: this is fixed with code-insiders 1.54.0

thank you

[2021-03-01 08:45] RoneoOrg opened #67 "The ToC is not displayed"
Hi,

put simply, the ToC is not appearing, neither in the HTML nor the PDF.

I did tests with the following configurations:

[code]

[code]

in both cases with `Markdown converter v3.1.2`

I used for the tests a really basic `test.md` file:

[code]

I even explicitly set `markdownConverter.Parser.Toc.Enabled`  to `true` in `settings.json`..

still nothing

The files are properly generated, both HT

[2021-03-02 19:28] amhayslip commented on #66
Awesome, thanks!

[2021-03-02 19:28] #66 closed

[2021-03-03 15:37] manuth commented on #67
Hello @RoneoOrg
Thanks a lot for using MarkdownConverter!
Sorry to hear about you having trouble using the ToC-feature.
I totally forgot to point out on how to use it in the `README`.

MarkdownConverter provides a setting called `markdownConverter.ParsermToc.Indicator` which can be set to a regular expression to replace with the toc.

The default is `\[\[\s*toc\s*\]\]`, which matches `[[toc]]` wit

[2021-03-05 22:59] RoneoOrg commented on #67
**It works** with `[[toc]]`, both in an HTML and a PDF file.

I guess it could help others to add this info to the Readme (I would love to provide a PR, but won't be able to do so before 2 weeks or more..)

Thanks a lot for this awesome extension!

[2021-03-05 22:59] #67 closed

[2021-03-05 23:03] RoneoOrg opened #68 "Mention the addition of a Table of Content in the Readme"
A table of content can be added in generated documents, where `[[toc]]` is inserted

It would be nice to add this info to the Readme

[2021-03-05 23:03] RoneoOrg commented on #67
I opened an issue here: https://github.com/manuth/MarkdownConverter/issues/68

[2021-03-05 23:05] RoneoOrg commented on #68
Additional information:

MarkdownConverter provides a setting called `markdownConverter.ParsermToc.Indicator` which can be set to a regular expression to replace with the toc.

The default is `\[\[\s*toc\s*\]\]`, which matches `[[toc]]` with any number of spaces in between (e.g. `[[ toc ]]`, `[[toc]]` etc.).

So basically you should make your `test.md` look like this:

[code]
[Source](https://gith

[2021-03-23 00:45] redtux commented on #68
Hi, I can confirm that using `[[ toc ]]` is working fine, while TOCs created by Markdown All in One only work with HTML.

When generating a PDF, the TOC is printed with the links being removed. No idea whether this is to be considered a bug or a feature (intended behavior). In any case this too should be mentioned in the README.

[2021-04-23 12:44] malustewart commented on #60
I think I'm experiencing the same bug but am not sure.
A year ago, my pdfs used to render like this:
![image](https://user-images.githubusercontent.com/23437944/115872340-139a9400-a418-11eb-9a17-9ddd82f8b928.png)
But now they render like this:
![image](https://user-images.githubusercontent.com/23437944/115872486-3e84e800-a418-11eb-84c3-2b7453b989ca.png)

I never touched any stylesheet configuratio

[2021-04-23 13:41] manuth commented on #60
@malustewart I'm terribly sorry for you experiencing this issue.
If I remember correctly, the cause of this issue is a change of the directory structure of VSCode's builtin markdown-extension.
I'll fix this error as soon as possible and will package a new version of this extension.

Stay tuned

[2021-05-15 09:24] tik9 opened #74 "wants to download chromium"
When I want to run your extension, it asks me to download `chromium`. But it is already installed. Can I point your extension to my `chromium` in `/usr/bin/chromium`?

[2021-05-15 14:22] manuth commented on #74
Thanks for pointing this out!
As far as I remember, there is no such option but I'll make sure to have this implemented for the next version

Thanks for using MarkdownConverter 💫

[2021-05-21 13:17] richardy706 commented on #61
I am having the same 404 issue when converting to PDF.  My document does not have any images but does have fenced code blocks.
Version: 3.1.2
VS Code: 1.56.2
Windows: 10.0.19042

[2021-05-21 13:22] richardy706 opened #75 "HTML Links to External Stylesheets"
The HTML conversion works very well but the styles are in external stylesheets on the local computer.  Therefore the HTML does not render styles when transferred to another computer.  Is there a way to have the style rules embedded in the document?

Version: 3.1.2

[2021-05-25 15:32] damgot commented on #61
Also have the bug with VS.Code 1.56.2.

It's a Visual Studio Code bug

[2021-05-25 16:01] damgot commented on #61
Also : Please be sure to not use any special character in your md filename and/or folder name.
The absolute path to the md filename need to have no accent at all.

[2021-05-25 19:20] manuth commented on #61
Thanks für looking into the matter - I'll make sure to work on MarkdownConverter again as soon as I can

Sorry for letting you guys wait for so long

[2021-06-30 15:31] orgwem commented on #74
Would really love to see a way to specify already installed Chrome oder Chromium. I am behind a corporate firewall which disallows downloading Chromium. However, Chrome is already installed on my machine so I could use that instead.

[2021-06-30 16:17] manuth commented on #74
That's a good input - iirc, puppeteer actually does allow you to specify a custom chromium path, so I should be able to implement this easily!

I'm starting to work on MarkdownConverter again once I caught up with all my other projects

[2021-07-01 05:56] orgwem commented on #74
And that's good news! Currently I have to use the plugin "markdown-pdf" by yzane (https://github.com/yzane/vscode-markdown-pdf) as it allows for that exact feature via the setting "markdown-pdf.executablePath". However this plugin is meant for american users (e.g. date format Month/Day/Year) and I would prefer having more output control.

[2021-08-17 11:16] damgot opened #82 "[New feature request] : Footnote"
Hello,

The extended markdown syntax include footnote (with the syntax  [^1]). Is it possible to have this feature with MarkdownConverter for pdf generation ?

thanks

[2021-09-10 23:57] manuth commented on #82
Head over to the marketplace and install the "Markdown Footnote" extension:
https://marketplace.visualstudio.com/items?itemName=houkanshan.vscode-markdown-footnote

Make sure, that the system-parser is enabled (`markdownConverter.Parser.SystemParserEnabled`).
Having this setting enabled and the extension mentioned before installed, your conversion output will include footnotes.

[2021-09-10 23:57] manuth commented on #82
Please let me know whether this worked for you

[2021-09-11 00:21] manuth commented on #61
Thanks a ton for pointing this out!
This helped me a lot to solve the issue.

I finally got some time left for working on the MarkdownConverter again.

Stay tuned

[2021-09-11 12:34] manuth commented on #75
Hello
Thanks for your interest in MarkdownConverter.
I'll have a closer look on how to handle style-sheets during the next few days.

Sorry for letting you wait for such a long time

[2021-09-12 09:37] manuth commented on #60
Sorry for letting you guys wait for such a long time.
I had an error in the insertion of style-sheets causing the system-styles to not load.

This issue has been fixed in 40b26cf1b93f6e030a3552fcdbd8bb170b663494.

The system styles will work again in the next release.

[2021-09-12 10:09] manuth commented on #63
In the next release, you'll be able to set the `<title>`-tag's content by adding a `Title`-attribute either in your settings or in the YAML-head of your markdown-file.

This issue will be fixed in the upcoming version!

Thanks for your patience

[2021-09-12 10:25] manuth commented on #74
I'm planning to allow users to specify their own `ChromiumExecutablePath` in their settings.
This will disable `MarkdownConverter`s question on whether to download the `puppeteer-core`s Chrome-revision and will instead check whether a file exists at the location indicated by the `ChromiumExecutablePath`.

[2021-09-12 10:35] manuth commented on #75
I put some thoughts into this and came up with a concept for for improving the treatment of stylesheets and javascript-files.

I'm planning to add an option `StyleSheetBehavior` and `ScriptBehavior` (let me know if you guys can make up a more suitable name) where users can set the treatment of `Relative` files, `Absolute` files and `Link`s.

Users will be able to choose between `Link` (adding a re

[2021-09-12 11:06] manuth commented on #57
I'm planning on introducing three new handlebars-variables in headers and footers: `{{ Left }}`, `{{ Right }}` and `{{ Center }}` and two new settings `markdownConverter.Document.HeaderContent` and `markdownConverter.Document.FooterContent`.
Inside the vscode-settings, users will be able to set the content of the corresponding pane:

[code]

Users will still be able to change the look of their hea

[2021-09-12 16:49] orschiro commented on #63
Nice, thanks!

On Sun, 12 Sept 2021 at 12:09, Manuel Thalmann ***@***.***>
wrote:

[2021-09-19 21:31] #56 closed

[2021-09-19 21:31] #63 closed

[2021-09-19 21:31] #68 closed

[2021-09-19 22:15] #75 closed

[2021-09-19 22:15] #74 closed

[2021-09-19 22:15] #61 closed

[2021-09-19 22:16] #60 closed

[2021-09-19 22:16] #57 closed

[2021-09-29 14:04] Postur opened #102 "[new feature request] Base64 encode images into html"
Would be nice to insert the images as Base64 encoded strings.
so that everything is contained in the html file.

[2021-09-29 15:08] Postur opened #103 "[bug] Link to heading not working in pdf"
test.md

[code]

in the pdf it looks like a link ( blue text ) but is not clickable.

in the html, if opened in a browser, the link works fine

links in the toc work on both.

Love the extension btw.

[2021-09-29 18:17] manuth commented on #103
Hello, @Postur
Thank you for your interest in MarkdownConverter

Sadly I couldn't reproduce the error.

I created a new file `test.md` with the following content:
[code]

Then, I created a PDF using the `Markdown: Convert Document` command.
As a result, I get a PDF document with all links working.

Make sure you have Markdown Converter v4.0.3 installed.

Also, you might want to post another exampl

[2021-09-29 18:41] manuth commented on #102
Hello @Postur
I did a quick research and sadly there is no markdown-it plugin that suits your need.
Searching the DOM-tree for `img`-tags would be quite a butthurt, too, as there isn't really a standardized way to do so.

You could change the `markdownConverter.ConversionType` to `SelfContainedHTML` which creates a self-contained directory which contains all pictures as well as other resources.

A

[2021-09-29 22:35] Postur commented on #102
I took this from [yzhang-gh/vscode-markdown/src/print.ts](https://github.com/yzhang-gh/vscode-markdown/blob/3cb5ec58747b773d114ba180cf7087ceb17244cc/src/print.ts#L95)

maybe something like this could be implemented?
even works with svg files.

[code]

[2021-09-29 22:41] Postur commented on #102
This is what I have done so far, and it works perfectly, (with some other extensions that allow pasting from clipboard in base64).
However, changing an image will be more difficult, than just swapping a file.

Thank you for the response.

[2021-09-30 06:30] manuth commented on #102
So, basically the goal you're trying to reach is to have a single `.html`-file which contains all pictures rather than a diectory containing said pictures (like, for example, the `SelfContainedHTML`-option does)?

[2021-09-30 13:51] Postur commented on #102
That is correct.

[2021-09-30 15:10] Postur commented on #103
[test.pdf](https://github.com/manuth/MarkdownConverter/files/7260518/test.pdf)
[test.md](https://github.com/manuth/MarkdownConverter/files/7260521/test.MD)

I still get the error.

I tried the pdf in edge and in foxit-reader. neither work.

[2021-09-30 15:38] manuth commented on #103
This is what I get when converting a PDF
[test.pdf](https://github.com/manuth/MarkdownConverter/files/7260712/test.pdf)

Make sure that `markdownConverter.ChromiumExecutablePath` is **not** set.

What operating system are you working on?
I'm using Windows 10.

[2021-09-30 15:50] Postur commented on #103
![image](https://user-images.githubusercontent.com/70761742/135488213-50fab104-1fb4-47f2-8934-0fb91a5da44d.png)

I do not have an executable path set.

I am running windows 10

did my pdf work for you?

your pdf works for me...

this is some weird bug, i'll reset my settings, and try again:

[2021-09-30 16:03] manuth commented on #103
Your PDF isn't working for me either.
Sadly I can't tell what's causing the link to be removed.

I'm using a Windows 10 machine, too.
You might want to try to set the `ChromiumExecutablePath` to a local Chrome or MS Edge installation (or any other chromium) to see whether the problem is caused by MarkdownConverter's local copy of chromium.

[2021-09-30 16:09] Postur commented on #103
Reset my settings and it works!

when I change the setting
from
[code]
to
[code]
It does not work

[2021-09-30 16:12] manuth commented on #103
Thanks a lot for the effort!
I'll have a look into this asap.

[2021-10-01 08:07] Postur commented on #103
Thank you!

[2021-10-04 16:13] Postur commented on #82
This extension works more like endnotes.

1. Footnotes appear on the bottom of the page that contains the sentence to which it refers.
2. Endnotes are listed at the end of the paper on separate pages.

Integrating this would involve changing the footer for each page in puppeteer, I guess.

but as endnotes it works perfectly.

[2021-10-04 19:03] Postur opened #107 "[New feature request] Auto-complete links"
Suggest existing headings when making links.
[code]

should suggest head1 and head-2

[code]
should suggest images in workspace.

preferably with the build in vscode suggestions.

especially useful since special characters in headings get converted to non-special characters in the <h> id.

valid link:
[code]
[code]

Invalid link:
[code]
[code]

alternatively allow special charecters in ```<h> id``

[2021-10-04 19:19] Postur commented on #103
fixed with https://github.com/manuth/MarkdownConverter/commit/463676402844da5e4e6ddc7139f191870785fdb3

[2021-10-04 19:19] #103 closed

[2021-10-04 19:21] Postur commented on #102
implemented #104  and tested.
Works flawlessly.

[2021-10-04 19:21] #102 closed

[2021-10-05 07:22] manuth commented on #107
Hello @Postur
Thanks for showing interest in MarkdownConverter once more.
Messing around with the IntelliSense of vscode isn't the goal of this extension.

However, I could try to get it to create the same slugs like vscode does here: https://github.com/microsoft/vscode/blob/0798d13f10b193df0297e301affe761b90a8bfa9/extensions/markdown-language-features/src/slugify.ts

Sadly, there is no npm-packag

[2021-10-05 09:39] #107 closed

[2021-10-05 10:49] manuth commented on #82
Thanks for pointing this out!
I do agree, that this isn't quite the same thing like a footnote. However, puppeteer doesn't support setting different footers for individual pages and I don't know of a CSS feature which would be able to add content to the end of a page.

In hope that the Markdown Footnote plug-in will work out for you guys, I'll close this issue.

Feel free to open it back up or dis

[2021-10-05 10:49] #82 closed

[2021-10-25 22:41] DavidS-BDO opened #120 "Word wrap is not occurring at the end of the page, and words run off the side"
Markdown is the following:

I have tried editing many of the settings including: margins  and page format, but none of them seem to do the trick.

[code]
which presents this:

![image](https://user-images.githubusercontent.com/60764631/138780585-76f3e670-b904-4539-a924-6197f7b55be6.png)

[2021-11-16 19:15] manuth commented on #120
Hello @DavidS-BDO
Sorry for the late response.

Could you please send me the full document?
Also - do you have any custom settings or css-styles configured?

Thanks for using MarkdownConverter

[2022-01-06 23:23] DaveyJH opened #139 ""command 'markdownConverter.convert' not found" following update 06.01.2022"
Hi, I successfully converted a document this morning (around 0830 GMT) with no issue. When I try to convert (or convert all) I now (2300 GMT) receive the error shown below. I have tried uninstalling the extension and re-installing, restarting VSCode and my laptop. I am only a junior dev so apologies if I have missed something following the latest release but it appears the functionality has broken

[2022-01-06 23:32] manuth commented on #139
Hello @DaveyJH
Sorry for the inconvenience and thanks for reporting the issue.
I just successfully tried to reproduce this error.

I'll try to get this issue fixed ASAP.
Sorry for the inconvenience

[2022-01-06 23:35] DaveyJH commented on #139
Hi, Glad you were able to reproduce the error and it wasn’t just my rookie mistake somewhere.Happy to re-try when you believe you have resolved the issue. Thanks for providing a great extension! Dave Sent from Mail for Windows From: Manuel ThalmannSent: 06 January 2022 23:32To: manuth/MarkdownConverterCc: DaveyJH; MentionSubject: Re: [manuth/MarkdownConverter] "command 'markdownConverter.convert'

[2022-01-07 00:08] manuth commented on #139
I could elaborate the issue and to be honest, it looks like it's a rookie programmer issue on my side 🥴 😂
The issue was caused by changes I made in the webpack-configuration here trying to prevent memory leaks:
https://github.com/manuth/MarkdownConverter/blob/5c3716cc028ededa5ace28b1b97ba50091df1a8f/webpack.config.ts#L109-L111

I'll go fix this - you can expect a new version of MarkdownConverter t

[2022-01-07 00:30] manuth commented on #139
The new version has been published now. You might have to wait for a bit until the new version shows up in vscode.
Alternatively you can download it from GitHub: https://github.com/manuth/MarkdownConverter/releases/

Please let me know whether the new version is working for you

[2022-01-07 00:39] DaveyJH commented on #139
I just had to do a reload of the extension in VSCode. All back to normal and working as expected. Really impressed with such a quick turn around. This is my first real reporting of an issue so thanks for making it a good experience 😁

...Just not sure if I should close the issue or if I leave that up to you!

[2022-01-07 00:50] manuth commented on #139
Glad to call you welcome, then 😄

In case you know the issue has been solved you can of course close the issue yourself if you feel like doing so. When closing an issue it might make sense to post a comment stating as to why you close the issue or stating that the error has been resolved.

If you're not sure whether all aspects of the issue have been resolved entirely you can always play it save a

[2022-01-07 00:50] #139 closed

[2022-01-07 00:52] manuth commented on #139
Oh yeah... Happy coding and stuff ^^
You reporting issues is most appreciated 😄

[2022-01-07 00:53] DaveyJH commented on #139
Tested on multiple files following fix. All working as normal :+1:

[2022-01-07 01:01] DaveyJH commented on #139
Oh, I didn't refresh before writing the last comment and thought I was closing the issue 😅

I knew there would be a rookie mistake by me in there somewhere!

[2022-01-07 01:02] manuth commented on #139
No worries, these rookie mistakes happen to everyone, I guess 😂

[2022-01-17 03:50] cfjedimaster opened #143 "Disable Handlebars option"
I've got  a MD file that contains tokens in it (from Liquid examples) that is tripping up with the Handlebars feature (I believe). Can there be an option to disable this feature?

[2022-01-25 20:00] brianhaddock opened #156 "Convert fails with "unexpected error""
Convert all and Convert fail with "An unexpected error occurred; Error: Unsupported screenshot type for extension '.undefined' Source: Markdown Converter (Extension)

[2022-01-25 20:05] brianhaddock commented on #156
Found it was an error in the config when the output type expected an array (e.g. html, pdf) and a single value was supplied instead (e.g. html).

[2022-01-25 20:05] #156 closed

[2022-02-04 12:05] manuth commented on #120
In order to keep my issues board clean, I'll close this issue now.
Please feel free to reopen this issue if your problem persists.

[2022-02-04 12:05] #120 closed

[2022-02-15 07:38] karmeye opened #169 "Problem Including Table of Contents"
Sorry for rather simple question but I cannot find details on this anywhere.
I am unable to generate a toc in the pdf. I ran the following commands:

1. `npm install markdown-it --save`
2. `npm i markdown-it-table-of-contents --save`

The `markdownConverter.Parser.Toc.Indicator` is the default `^\[\[\s*toc\s*\]\]`

When I convert the following
[code]
It looks like this:

![Screenshot 1](https://us

[2022-02-15 07:46] manuth commented on #169
Hello @karmeye
First of all - thanks for your interest in this project and for using MarkdownConverter!
Installing `markdown-it` and `markdown-it-table-of-contents` is unnecessary and doesn't change MarkdownConverter's behavior as MarkdownConverter is pre-packaged with all these modules and doesn't care what's inside VSCode's working directory, really.

Sadly I cannot reproduce the issue.
Could yo

[2022-02-16 04:34] karmeye commented on #169
Thank you for making this and your quick response!

Ah, good to hear that MarkdownConverter is pre-packaged with those. When I read the setting description

I didn't know what it was and thought that was the problem.

Here's the html:
[html.txt](https://github.com/manuth/MarkdownConverter/files/8076719/html.txt)

[2022-02-16 05:12] karmeye opened #174 "Error While Converting the Document when including a date taken from an attribute"
Hello @manuth

When I try this example from the ReadMe file:

[code]

The generated pdf says:

Predefined dates work.

[2022-02-16 05:26] karmeye opened #175 "Variable Substitution does not work when chaining documents"
Hello @manuth

Running the `Chain all Documents` command the variables are not set.

Whether referring to them in the same md file they were defined or another file. Nothing is rendered. However if a varible is set as a header, e.g. `## {{ Title }}` then it is rendered `Untitled-1`.

Thx

[2022-02-16 05:31] karmeye opened #176 "How to select which files to include when chaining documents"
Hello @manuth

All md files in my workspace are used. For example, I have a README.md that I do not want to include.

- Is it possible to choose which files to chain?
- Is it possible to specify a sub folder and chain all md files in there?

Thx

[2022-02-16 05:57] karmeye opened #177 "Footnotes have double brackets"
Hello @manuth

I'm using the Markdown Footnote VS Code extension and it works in the markdown preview. But when I create the PDF using Markdown Converter the footnote reference has double brackets: two on each side. See this pdf: [01-toc.pdf](https://github.com/manuth/MarkdownConverter/files/8077111/01-toc.pdf). What can I do to make it look like the markdown preview.

Here's the HTML: [01-toc.txt

[2022-02-22 00:57] yuis-ice opened #182 "API support?"
Hi. I'd like to know if you have an API that parses a markdown content/file into a tokenized object, so we can use it as an API for our further vscode extension development. Thanks.

[2022-02-27 19:41] manuth commented on #182
You might want to use the approach described in vscode doc's [Adding support for new syntax with markdown-it plugins](https://code.visualstudio.com/api/extension-guides/markdown-extension#adding-support-for-new-syntax-with-markdownit-plugins) chapter. This allows you to get VSCode's `markdown-it` parser which is able to do what you're looking for.

However - in order to have the `extendMarkdownIt`

[2022-02-28 01:38] yuis-ice commented on #182
Thanks. However I haven't fully understood. I understand that VSCode uses markdown-it, and we can extend its use() option by `extendMarkdownIt`, but how can I get the parsed tokens, or to parse the current document?
Do you mean I can write a code using the `EnableSystemParser()` on the source code, and the repo has no API to parse or get tokens?

Thanks for your kind help.

[2022-02-28 21:15] manuth commented on #182
Using the `extendMarkdownIt`-method, you could store a copy of vscode's `markdown-it` instance.
That's what I do for MarkdownConverter:
https://github.com/manuth/MarkdownConverter/blob/2aa12a86c3863851da27676a9d14a6da32852cd2/src/System/Extensibility/Extension.ts#L110-L118

You could either copy my `Extension` class and get a copy of VSCode's `markdown-it` instance using a piece of code like this:

[2022-03-01 01:54] yuis-ice commented on #182
umm okay, thanks for the detailed explanation. May I know in what part in the source code the vscode-compatible .render is available? So I can inspect the feature on a breakpoint while the debug launch on vscode.

[2022-03-01 07:48] manuth commented on #182
If you're looking the place where `markdown-it`'s `.render` method is being invoked, it's here:
https://github.com/manuth/MarkdownConverter/blob/2aa12a86c3863851da27676a9d14a6da32852cd2/src/System/Documents/MarkdownFragment.ts#L26-L29

Though, you might want to enable `markdownConverter.Parser.SystemParserEnabled` in your settings in order to have VSCode's internal parser loaded.

The method you m

[2022-03-01 10:03] yuis-ice commented on #182
Thanks, I understand. Thanks for all of your kind help.

[2022-03-01 10:03] #182 closed

[2022-03-01 10:05] manuth commented on #182
You're welcome, I'm glad I could help!
Best success to you

[2022-05-03 10:22] jsbrain commented on #177
Similar problem but for me it doesn't even convert but throw:

[code]

[2022-05-24 00:56] nixtar opened #188 "Leaves behind chrome processes"
On windows with Chrome 101.0.4951.67 I'm seeing behaviour where every time I convert to HTML there is an additional ~4 chrome.exe processes that get started and not cleaned up.

After converting ~10 documents I ended up with this:
![image](https://user-images.githubusercontent.com/2175630/169927194-38703015-5140-48d9-a9df-13912c567e78.png)

[2022-05-24 00:59] nixtar commented on #188
I should add, I had to manually download Chrome and use the ChromiumExecutablePath setting due to issues with our proxy server and the plugins built in downloading of Chrome. Possibly due to the version I downloaded?

Is there a URL to the version that the plugin tries to download for windows I can use to perform an "offline" install?

[2022-08-26 15:04] 0xbac commented on #169
I'm also getting this issue (VSCode/Win64/10), at first I thought proxy server, but that's been removed and I'm still getting double angle brackets where the TOC should be.  I also noted a crash report from windows event view.  See attached the .md, .html (requested), event exception.  It produces the same result in multiple formats.  I originally used default for chromium, but have also tried spe

[2022-09-16 01:05] manuth commented on #174
Hello @karmeye
Sorry for letting you wait for such a long time.

Turns out that my `README.md` contains invalid code. I'm terribly sorry about that.

For `yaml` to detect your date values correctly, dates have to apply to the [ISO-8601](https://www.iso.org/iso-8601-date-and-time-format.html) standard as described on this website:
<https://symfony.com/doc/current/components/yaml/yaml_format.html#da

[2022-09-16 01:07] manuth commented on #188
I'm not quite sure whether `puppeteer` allows me to get the URL it's downloading Chromium from but if so, I'll go try to include it into the UI somehow.

Thanks for letting me know and also thanks for using Markdown Converter ✨

[2022-09-16 01:08] manuth commented on #177
Hello @karmeye and @jsbrain
Could you please post the Markdown code you guys have been trying to convert?

Sorry for letting you wait

[2022-09-16 01:11] manuth commented on #169
You're right - I might have to reverb this section of the `README`. This really does sound confusing now that you mention it 😅

[2022-09-16 01:27] manuth commented on #169
I could reproduce the issue.
Looks like vscode's `markdown-it` instance doesn't get along with `markdown-it-table-of-contents`  anymore.

To be honest, I have no idea on whether and how I can fix this.
I'll investigate this at a later point. Stay tuned!

[2022-09-16 01:28] manuth commented on #143
Hello @cfjedimaster
I'll make sure to have such a feature included in the upcoming version.

Thanks for using Markdown Converter 😄

[2022-09-16 01:31] manuth commented on #176
Hi @karmeye
Currently, it is neither possible to select specific files to chain nor to select a sub folder.
At time of writing, the `Chain all Documents` task will chain each markdown file available in the folder currently opened in vscode.

Sadly, I don't really know what a good solution for this might look like.
Do you think something like an `include` and an `exclude`-setting for black- or whit

[2022-09-16 16:59] manuth commented on #169
@karmeye, @0xbac
I could pinpoint it down to the problem's source.

It looks just like this problem is caused by the `Markdown Preview Mermaid Support` extension.
No idea on how to fix it - neither do I know on how to fix it tbh 😅

[2022-09-26 22:15] #174 closed

[2022-09-27 20:39] avation-cbuliga opened #203 "Command resulted in error.. `Command not found` error with release 5.2.0"
The following lines are from Extension Host log:
[code]

and from Window log:
[code]

[2022-09-27 22:05] manuth commented on #203
I'm terribly sorry for the inconvenience, I'm about to fix this error.
Sadly, there does not seem to be a way to unpublish specific versions of the extensions.

[2022-09-27 22:19] avation-cbuliga commented on #203
Thank you for responding so promptly. Much appreciated..

[2022-09-27 22:56] neurolag commented on #203
Thanks, I'm glad to hear you appreciate it 😄
I managed it to get the extension to work again.

I'm sorry for the inconvenience.
The new version has been built and should be available in a short while.

Thanks for using MarkdownConverter

[2022-09-28 00:47] avation-cbuliga commented on #203
Works great. Thank you again

[2022-09-28 17:59] #203 closed

[2022-11-08 10:04] josepindubond opened #204 "Page break"
Hi, is it possible to add a page break to the pdf conversion? Thanks

[2022-11-08 10:06] josepindubond opened #205 "TOC page numbers"
Hi, is it possible to add the number of pages to table of contents?

[2022-11-08 11:30] neurolag commented on #205
Hello, @josepindubond
Sadly, this is not possible as the inner HTML isn't aware of itself being printed as a PDF.

[2022-11-08 11:30] #205 closed, assigned to neurolag

[2022-11-08 11:36] neurolag commented on #204
Hello @josepindubond
I'm terribly sorry, looks like I missed it to add a remark on this on the README page.

MarkdownConverter provides the `page-break` and the `no-page-break` classes for taking control over page breaks.
[code]

[code]

For further customization, you can use CSS attributes such as [`break-after`](https://developer.mozilla.org/en-US/docs/Web/CSS/break-after), [`break-before`](http

[2022-11-08 14:20] josepindubond commented on #204
Thanks,
The page-break and no-page-break not work in my document. For now, I'm using css attributes.